

<%= form_for(@application) do |f| %>

<div class="field">
<%= f.label :qualified %>
<input type='hidden' name='application[qualified]' value=false>
<%= f.check_box :qualified, :placeholder => @application.qualified %><br></div>

<div class="field">
<%= f.label :legal %>
<input type='hidden' name='application[legal]' value=false>
<%= f.check_box :legal, :placeholder => @application.legal %><br></div>

<div class="field">
<%= f.label :transportation %>
<input type='hidden' name='application[transportation]' value=false>
<%= f.check_box :legal, :placeholder => @application.transportation %><br></div>

<div class="field">
<%= f.label :criminal_record %>
<input type='hidden' name='application[criminal_record]' value=false>
<%= f.check_box :legal, :placeholder => @application.criminal_record %><br></div>

<div class="field">
<%= f.label :description_of_criminal_record %>
<%= f.text_area :month_commitment, :placeholder => @application.description_of_criminal_record %><br></div>

<div class="field">
<%= f.label :month_commitment %>
<%= f.text_field :month_commitment, :placeholder => @application.month_commitment %><br></div>

<div class="field">
<%= f.label :reason_for_interest %>
<%= f.text_field :reason_for_interest, :placeholder => @application.reason_for_interest %><br></div>

<%=f.submit%>
<%end%>

<%= link_to 'Delete',
             application_path(@application),
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %>
