<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :business_name %>
    <%= f.text_field :business_name, :value => @user.business_name  %><br>
  </div>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :value => @user.first_name  %><br>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, :value => @user.last_name %><br>
  </div>

  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location, :value =>  @user.location %><br>
  </div>

  <div class="field">
    <%= f.label :profession %>
    <%= f.text_field :profession, :value => @user.profession %><br>
  </div>

  <%= f.submit %>

<% end %>
