<section>
  <h2> Application </h2>

  <div class="field">
    <h3>Qualified for Position: {{qualified}}</h3>
  </div>

  <div class="field">
    <h3>Reliable Transportation: {{transportation}}</h3>
  </div>

  <div class="field">
    <h3>Has a Criminal Record: {{criminal_record}}</h3>
  </div>

  <div class="field">
    <h3>Description of Criminal Record: {{description_of_criminal_record}}</h3>
  </div>

  <div class="field">
    <h3>Legally allowed to work: {{legal}}</h3>
  </div>

  <div class="field">
    <h3>Month Commitment: {{month_commitment}}</h3>
  </div>

  <div class="field">
    <h3>Reason for Interest: {{reason_for_interest}}</h3>
  </div>
</section>
