<% if provider? %>
<h2> Opportunity Title: <%= @opportunity.title %> </h2>
<h3>Description:  <%= @opportunity.description %> </h3>
<%= button_to 'Delete This Opportunity',
             opportunity_path(@opportunity),
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %>

<h1> Applications </h1>
  <div>
    <%= form_tag( opportunity_path(@opportunity), method: "get") do %>
  </div>

<div>
   <strong>Filter Applications: </strong>
  <select name="filter" id="filter">
    <option value="" label=" "></option>
    <option value="Best Qualified">Best Qualified</option>
    <option value="Most Recent">Most Recent</option>
    <option value="Oldest">Oldest</option></select>
    <input class="sort" type="submit" name="commit" value="Filter" data-disable-with="Filter">
</div>
<br>
<% end %>

<% @applications.each do |application|%>
<div class = "Container">
<section>
  <% if provider? %>
<div class="photo">
  <img src="<%=application.profile.picture_url %>">
</div>
<%end%>
<div class = "Application">
  <div class="field">
    <h2>Name: <%=application.profile.first_name%> <%=application.profile.last_name%> </h2>
  </div>

  <div class="field">
    <h3>Email:
      <a href= "mailto:<%=application.user.email%>"> <%=application.user.email%> </a>
    </h3>

  </div>


  <div class="field">
    <h3>Location: <%=application.profile.location%></h3>
  </div>

  <div class="field">
    <h3>Profession: <%=application.profile.profession%></h3>
  </div>

   <button class= "load_application" data-id="<%=application.id%>" id='load-application-<%=application.id%>'>Load Application</button>
   <button id="button-<%=application.id%>" class="hide_application" data-id="<%=application.id%>">Hide Application</button>
  <div id= "applicant-<%=application.id%>"></div>


</section>
</div>
</div>
  <br>
  <% end %>
<% end %>
