<%= form_for(@opportunity) do |f| %>

<div class="field">
  <%= f.label :title %> <br>
  <%= f.text_field :title %> <br>
</div>

<div class="field">
  <%= f.label :description %> <br>
  <%= f.text_field :description %> <br>
</div>

<%= f.hidden_field :user_id , :value => @user.id%>


  <%= f.submit %>

<% end %>
