
<a href="<%=new_opportunity_path%>" class= "new_opportunity">Create a new Opportunity</a>
<div id="newOpp"></div>
<% @opportunities.each do |opportunity| %>


<div id="body-<%= opportunity.id %>">
  <h1> <%= link_to opportunity.user.profile.business_name, opportunity_path(opportunity) %> </h1>
  <h2> <%= opportunity.title %> </h2>
  <h2> <%= opportunity.description %> </h2>
   <a href="<%=opportunity_path(opportunity)%>" class= "load_applications" data-id="<%=opportunity.id%>">View Applicants</a>

  <div id= "oppApps-<%=opportunity.id%>"></div>

</div>
<br>
<% end %>

<!-- WORKING ON HANDLEBARS TEMPLATE FOR NEW OPP FORM -->
<!-- <script id="new_opportunity_template" type="text/x-handlebars-template">
  <%= form_for(@opportunity) do |f| %>

  <div class="field">
    <%= f.label {{title}} %> <br>
    <%= f.text_field {{title}} %> <br>
  </div>

  <div class="field">
    <%= f.label {{description}} %> <br>
    <%= f.text_field {{description}} %> <br>
  </div>

  <%= f.hidden_field {{id}} , :value => @user.{{id}}%>


    <%= f.submit %>

  <% end %>
</script> -->
