<body>
<br>
 <%= link_to "<button><strong>Create Opportunity</strong></button>".html_safe, new_opportunity_path, :class => "create_form_opp" %>
  <div id="opp-form" class= "opp-form"></div>

<div class= "new_opportunity"></div>
  <% @opportunities.each do |opportunity| %>
    <div id="body-<%= opportunity.id %>">
      <h1> <%= link_to opportunity.user.profile.business_name, opportunity_path(opportunity) %> </h1>
      <h2> <%= opportunity.title %> </h2>
      <h2> <%= opportunity.description %> </h2>
      <button class= "load_applicants" data-id="<%=opportunity.id%>" id='load-applicant-<%=opportunity.id%>'>View Applicants</button>
      <button id="button-<%=opportunity.id%>" class="hide_applicant" data-id="<%=opportunity.id%>">Hide Applicants</button>

      <div id= "oppApps-<%=opportunity.id%>"></div>
    </div>
    <br>
  <% end %>
    <%= javascript_include_tag 'application' %>

</body>


<script id="applicant" type="text/x-handlebars-template">
  <div id="oppApps-{{id}}">
    <section>
      <div class="photo">
        <img src="{{pictureUrl}}">
      </div>
      <div class = "Application">
          <div class="field">
            <h2>Name: {{name}} </h2>
          </div>
        <div class="field">
          <h3>Location: {{location}}</h3>
        </div>
        <div class="field">
          <h3>Profession: {{profession}}</h3>
        </div>
          <br>
      </div>
    </section>
