<h1> <%= @opportunity.title %> </h1>
<h2> <%= @opportunity.description %> </h2>


<%= form_for @opportunity.applications.build do |f| %>
 <%= select("application", "user_id", User.all.collect {|p| [ p.email, p.id ] }, {include_blank: true} ) %>

<input type='hidden' name='application[qualified]' value=false>
<%= f.check_box :qualified %><br>

<input type='hidden' name='application[legal]' value=false>
<%= f.check_box :legal %><br>

<%= f.label :month_commitment %><br>
<%= f.text_field :month_commitment %><br>

<%= f.label :reason_for_interest %><br>
<%= f.text_field :reason_for_interest %><br>
<%= f.hidden_field :opportunity_id %>


<%=f.submit%>
<%end%>


<p>

<% @opportunity.applications.each do |application|%>
<%= application.user %><br>
<%= application.month_commitment %><br>
<%= application.reason_for_interest %><br>
<br>
<%end%>


</p>
