<% if searcher? %>
  <h1> <%= @opportunity.user.profile.business_name %> </h1>
  <h2> <%= @opportunity.title %> </h2>
  <h3> <%= @opportunity.description %> </h3>

  <a href="<%=new_opportunity_application_path(@opportunity)%>"><button class="btn">Apply to this Opportunity</button></a>

<%end%>

<% if provider? %>
<%= render 'provider_show' %>

<% end %> 

<script id="applicant" type="text/x-handlebars-template">
<section>
<h2> Application </h2>

  <div class="field">
    <h3>Qualified for Position: {{qualified}}</h3>
  </div>

  <div class="field">
    <h3>Reliable Transportation: {{transportation}}</h3>
  </div>

  <div class="field">
    <h3>Has a Criminal Record: {{criminal_record}}</h3>
  </div>

  <div class="field">
    <h3>Description of Criminal Record: {{description_of_criminal_record}}</h3>
  </div>

  <div class="field">
    <h3>Legally allowed to work: {{legal}}</h3>
  </div>

  <div class="field">
    <h3>Month Commitment: {{month_commitment}}</h3>
  </div>

  <div class="field">
    <h3>Reason for Interest: {{reason_for_interest}}</h3>
  </div>
</section>
</script>
<%= javascript_include_tag 'application' %>
