<h1> <%= @opportunity.title %> </h1>
<h2> <%= @opportunity.description %> </h2>


<%= render 'applications/form' %>


<%@opportunity.applications.each do |application|%>
<% if application.legal_and_qualified? %>

<% if application.user != nil %>

<%=application.user.first_name%>
<%=application.user.last_name%><br>

<%=application.user.profession%><br>

<%=application.user.location%><br>

<% end %>
<%=application.user.email%><br>

<%=application.qualified%><br>

<%=application.legal%><br>

<%=application.month_commitment%><br>
<%=application.reason_for_interest%><br>

<br>
<% end %>
<% end %>
