<h1> <%= @opportunity.title %> </h1>
<h2> <%= @opportunity.description %> </h2>

<% if searcher? %>
<%= render 'applications/form' %>
<%end%>

<% if provider? %>
<%@opportunity.applications.each do |application|%>
<% if application.legal_and_qualified? %>


<div class="field">
Name: <%=application.user.profile.first_name%>
<%=application.user.profile.last_name%></div>

<div class="field">
Profession: <%=application.user.profile.profession%></div>
<div class="field">
Location: <%=application.user.profile.location%></div>

<div class="field">
Email: <%=application.user.email%></div>
<div class="field">
Qualified for Position: <%=application.qualified%></div>
<div class="field">
Reliable Transportation: <%=application.transportation%></div>
<div class="field">
Has a Criminal Record: <%=application.criminal_record%></div>
<div class="field">
Description of Criminal Record: <%=application.description_of_criminal_record%></div>
<div class="field">
Legally allowed to work: <%=application.legal%></div>
<div class="field">
Month Commitment: <%=application.month_commitment%></div>
<div class="field">
Reason for Interest: <%=application.reason_for_interest%></div>

<% end %>
<% end %>
<% end %>
