
<% if searcher? %>
  <h1> <%= @opportunity.user.profile.business_name %> </h1>
  <h2> <%= @opportunity.title %> </h2>
  <h3> <%= @opportunity.description %> </h3>

  <%= button_to 'Apply to this Opportunity', new_opportunity_application_path(@opportunity), method: :get%>


<%end%>

<% if provider? %>
<h2> Opportunity Title: <%= @opportunity.title %> </h2>
<h3>Description:  <%= @opportunity.description %> </h3>
<%= button_to 'Delete This Opportunity',
             opportunity_path(@opportunity),
                         method: :delete,
                         data: { confirm: 'Are you sure?' } %>

<h1> Applications </h1>
  <div>

    <%= form_tag( opportunity_path(@opportunity), method: "get") do %>
        <h3>Filter Applications By:  <%= select_tag "filter", options_for_select(["Best Qualified", "Most Recent", "Oldest"]), include_blank: true %>
      <%= submit_tag "Filter" %></h3>
  </div>
<% end %>

<% @applications.each do |application|%>
<div class = "Container">
<section>
<div class="photo">
  <img src="<%=application.profile.picture_url %>">
</div>
<div class = "Application">
  <div class="field">
    <h2>Name: <%=application.profile.first_name%> <%=application.profile.last_name%> </h2>
  </div>

  <div class="field">
    <h3>Email:
      <a href= "mailto:<%=application.user.email%>"> <%=application.user.email%> </a>
    </h3>

  </div>


  <div class="field">
    <h3>Location: <%=application.profile.location%></h3>
  </div>

  <div class="field">
    <h3>Profession: <%=application.profile.profession%></h3>
  </div>

   <a href="<%=application_path(application)%>" class= "load_application" data-id="<%=application.id%>">Load Application</a>

  <div id= "applicant-<%=application.id%>"></div>


</section>
</div>
</div>
  <br>
  <% end %>
<% end %>
