<h1> <%= @opportunity.title %> </h1>
<h2> <%= @opportunity.description %> </h2>


<!-- Application form goes here -->


<%= form_for(@opportunity) do |f| %>
<%= f.fields_for :applications do |application| %>
<input type='hidden' name='application[qualified]' value=false>
<%= application.check_box :qualified %>

<input type='hidden' name='application[legal]' value=false>
<%= application.check_box :legal %>

<%= application.label :month_commitment %>
<%= application.text_field :month_commitment %>

<%= application.label :reason_for_interest %>
<%= application.text_field :reason_for_interest %>
<% end %>

<%= f.submit %>

<% end %>
