<h1> <%= @opportunity.title %> </h1>
<h2> <%= @opportunity.description %> </h2>

<% if searcher? %>
<%= render 'applications/form' %>
<%end%>

<% if provider? %>
<%@opportunity.applications.each do |application|%>
<% if application.legal_and_qualified? %>


<div class="field">
<%=application.user.first_name%></div>
<div class="field">
<%=application.user.last_name%></div>
<div class="field">
<%=application.user.profession%></div>
<div class="field">
<%=application.user.location%></div>

<div class="field">
<%=application.user.email%></div>
<div class="field">
<%=application.qualified%></div>
<div class="field">
<%=application.legal%></div>
<div class="field">
<%=application.month_commitment%></div>
<div class="field">
<%=application.reason_for_interest%></div>

<% end %>
<% end %>
<% end %>
