<h1> <%= @opportunity.title %> </h1>
<h2> <%= @opportunity.description %> </h2>


<%= form_for(@application) do |f| %>

<input type='hidden' name='application[qualified]' value=false>
<%= f.check_box :qualified %><br>

<input type='hidden' name='application[legal]' value=false>
<%= f.check_box :legal %><br>

<%= f.label :month_commitment %><br>
<%= f.text_field :month_commitment %><br>

<%= f.label :reason_for_interest %><br>
<%= f.text_field :reason_for_interest %><br>
<%= f.hidden_field :opportunity_id , :value => @opportunity.id%>
<%= f.hidden_field :user_id , :value => @user.id%>

<%=f.submit%>
<%end%>


<%@opportunity.applications.each do |application|%>
<%=application.user.email%><br>
<%=application.profile%><br>
<%=application.month_commitment%><br>
<%=application.reason_for_interest%><br>


<% end %>
