<h1> <%= @opportunity.title %> </h1>
<h2> <%= @opportunity.description %> </h2>


<%= form_for(@application) do |f| %>

<%= f.label :qualified %><br>
<input type='hidden' name='application[qualified]' value=false>
<%= f.check_box :qualified %><br>

<%= f.label :legal %><br>
<input type='hidden' name='application[legal]' value=false>
<%= f.check_box :legal %><br>

<%= f.label :month_commitment %><br>
<%= f.text_field :month_commitment %><br>

<%= f.label :reason_for_interest %><br>
<%= f.text_field :reason_for_interest %><br>
<%= f.hidden_field :opportunity_id , :value => @opportunity.id%>
<%= f.hidden_field :user_id , :value => @user.id%>

<%=f.submit%>
<%end%>


<%@opportunity.applications.each do |application|%>
<% if application.legal_and_qualified? %>

<% if application.user.profile != nil %>

<%=application.profile.first_name%>
<%=application.profile.last_name%><br>

<%=application.profile.profession%><br>

<%=application.profile.location%><br>

<% end %>
<%=application.user.email%><br>

<%=application.qualified%><br>

<%=application.legal%><br>

<%=application.month_commitment%><br>
<%=application.reason_for_interest%><br>

<br>
<% end %>
<% end %>
