<h1> <%= @opportunity.title %> </h1>
<h2> <%= @opportunity.description %> </h2>

<% if searcher? %>
<%= render 'applications/form' %>
<%end%>

<% if provider? %>


<% best_candidates.each do |application|%>





<div class="field">
<h2>Name: <%=application.user.profile.first_name%>
<%=application.user.profile.last_name%></h2></div>
<div class="field">
<h3>Email: <%=application.user.email%></h3></div>

<div class="field">
<h3>Profession: <%=application.user.profile.profession%></h3></div>
<div class="field">
<h3>Location: <%=application.user.profile.location%></h3></div>

<br>
<div class="field">
<h3>Qualified for Position: <%=application.qualified%></h3></div>
<div class="field">
<h3>Reliable Transportation: <%=application.transportation%></h3></div>
<div class="field">
<h3>Has a Criminal Record: <%=application.criminal_record%></h3></div>
<div class="field">
<h3>Description of Criminal Record: <%=application.description_of_criminal_record%></h3></div>
<div class="field">
<h3>Legally allowed to work: <%=application.legal%></h3></div>
<div class="field">
<h3>Month Commitment: <%=application.month_commitment%></h3></div>
<div class="field">
<h3>Reason for Interest: <%=application.reason_for_interest%></h3></div>

<br>
<% end %>
<% end %>
